<h1>Confira nossos produtos:</h1>
<div class="row">
{{#each products}}
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.price}}</p>
                <a href="/product/{{this.id}}" class="btn btn-primary">Ver mais</a>
            </div>
        </div>
    </div>
{{/each}}
</div>
